@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Parisienne&family=Playball&display=swap');

:root{
--cor-de-fundo:#050033;
--texto1:#62bef3;
--texto2:#54bcec;
--botao-ativo:#0049b6;
--botao-inativo: rgba(0, 13, 194, 0.5);
--texto-fundo:rgba(16, 0, 187, 0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--texto1);
    font-family: "Playball", cursive;

}

.botao{
    font-family: "Playball", cursive;
    background-color:var(--botao-inativo);
    font-size:45px;
    display: flex;
    color:var(--texto1);
    justify-content: center;
    padding:20px;
    align-items: center;
    width: 30%;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
}


.titulo-principal{
    text-align:left;
    width:100%;
    font-size: 70px;
    margin: 30px;
}


.botoes{
display:flex;
}

.botao:first-child{
    border-radius: 20px 0 0 20px;
}


.botao:last-child{
   border-radius:  0 20px 20px 0;
}


.botao.ativo{
    background: var(--botao-ativo);
    border-bottom: 4px solid #ffffff;
}

.aba-conteudo.ativo{
    display: block;
}

.aba-conteudo{
    display: none;
}

.aba-conteudo-titulo-principal{
    font-size: 50px;
    text-align:center;
}

.aba-conteudo-titulo-secundario{
font-size: 30px;
text-align:left;
color: var(--texto1);
}

.contador{
    font-size: 95px;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
    background-color: #0049b6;
}